@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  font-size: 1.4rem;
}

* {
    font-family: 'Kameron';
}

#body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}
 
#nav-bar{
  padding: 3rem;
  font-size: 2rem;
  color: #000;
  border-bottom: 1px solid black;
}

#banner-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
}

.banner-text {
  grid-template-areas: 'overlayarea';
  position: relative;
  z-index: 2;
}
#home-banner {
  position: relative;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  grid-column: span 5;
  margin: 0;
}

#featured-product-container, #all-product-container {
  display:grid; 
  grid-template-columns: repeat(3, 1fr);
}

#featured-items-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  line-height: 4rem;
}

#ind-product-container {
  display:grid;
  grid-template-rows: 25vw repeat(2, 1fr)
}

#ind-product-flavors {
  font-size: 1.5rem;
  text-align: center;
}

#ind-product-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* grid-column-start: 1;
  grid-column-end: 4; */
  /* grid-row: span 1; */
  justify-self: center;
  margin-bottom: -10px;
}

#ind-product-details {
  text-align: center;
  margin: 0;
  font-size: 2.25rem;
  /* line-height: 2.5rem; */
}

#featured-button-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
  
  padding-bottom: .5em;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  /* padding: .3em; */
  background-color: transparent;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 0;
}

#login-page, #registration-page {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-register-container {
  padding: 3rem;
}

.login-register-header {
  text-align: center;
  font-size: 4rem;
}

.login-register-subtext {
  font-size: 2.25rem;
}

.form-labels {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem ;
  padding-bottom: 1.5rem;
}

form {
  padding-bottom: 2rem;
}

#login-button {
  width: 20%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 2.25rem;
}

.login-register-redirect-text {
  font-size: 1.5rem;
}